input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}



body {
  height: 100vh;
}


.c-code__input {
	width: .86em;
	line-height: 1;
	margin: .1em;
	padding: 8px 0 4px;
	font-size: 2.65em;
	text-align: center;
	appearance: textfield;
	-webkit-appearance: textfield;
	border: 0;
	color: #073A39;
	border-radius: 6px;
  background-color: pink;
}


.o-container {
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.c-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.c-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20rem;
}
